.user_profile
  - if notice
    = notice
  .user_profile_image
    - if @user.image?
      = image_tag "/user_images/#{@user.image}", class: 'user_profile_image_id'
    - else
      = image_tag "/assets/images/default_image.jpg", class: 'user_profile_image_id'
  .user_profile_name
    = @user.name
  .user_profile_email
    = @user.email
  - if @user.id === current_user.id
    .user_profile_edit_btn
      = link_to 'プロフィール編集', edit_user_registration_path, class: 'btn btn-info'